html,
body,
#root {
	min-height: 100dvh;
	scroll-behavior: smooth;
}

main {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	flex: 1;
	overflow-y: hidden;
}

#root {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: var(--font-family);
	background-color: var(--color-background);
}

.small-circle {
	top: 728px;
	left: 123px;
	width: 57px;
	height: 57px;
	background-color: #252728;
	border-radius: 100000px;
	box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.half-circle {
	top: 32px;
	left: 721px;
	width: 597px;
	height: 397px;
	background-color: #252728;
	border-radius: 100000px;
}

#google:hover {
	border-color: #646cff;
}
#google:focus,
#google:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Hides scrollbar for Webkit browsers */
}
.scrollbar-hide {
	-ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
	scrollbar-width: none; /* Hides scrollbar for Firefox */
}
